body {
	/* color: #5b52fa; */
	color: #363833;
	background-color: #f6f1ca;
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}

h1, h2
{
	color: #f6f1ca;
	background-color: #5b52fa;
	padding-left: 5px;
}

div.box
{
	border: solid;
	padding: 5px;
	margin: 5px;
}
