body {
	/* color: #5b52fa; */
	color: #363833;
	background-color: #f6f1ca;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}

h1, h2
{
	color: #f6f1ca;
	background-color: #5b52fa;
	padding-left: 16px;
}

div.box
{
	border: solid;
	padding: 8px;
	margin: 8px;
	max-width: 800px;
}
